

<h4 class="h2">CSV File:</h4>
<!-- <center>	 -->
<div class="row">
	<form action="<?php echo $block->getUrl('adminform/import/importCsv') ?>" method="POST" enctype="multipart/form-data" class="col-sm-6">
		<div class="custom-file">
			 <input name="form_key" type="hidden" value="<?php echo $block->getFormKey() ?>">
			<input type="file" accept=".csv" required class="required-entry h2 custom-file-input" name="csv_upload" />
		
			<br>
			<br>
<!-- 			<br>
			<br> -->
			<button type="submit" class="h2 btn btn-primary btn-lg">Import</button>
		</div>
	</form>
	<!-- </center> -->
	<div class="offset-sm-2 col-sm-4">
		<h2 class="">Check our sample page</h2>
		<a href="http://mogento2.com/sample/sample.csv" download="" target="_blank" class="btn btn-success h2">Click Here to see sample csv file<i class='fas fa-arrow-down'></i></a>
	</div>
</div>