

<form action="<?php echo $block->getFormAction() ?>" method="post">
    <label>Name</label><input name="name" type="text" required="">
    <label>Email</label><input name="email" type="text" required="">
    <label>Contact</label><input name="contact" type="number" maxlength="10" required="">
    <!-- <input name="bookingTime" type="date"> -->
    <input type="submit" value="Send booking informations">
</form>