<h1>Booking page</h1>

<form action="http://mogento2.com/schema/index/index" method="post">
    <input name="firstname" type="text">
    <input name="email" type="text">
    <input name="phone" type="text">
    <!-- <input name="bookingTime" type="date"> -->
    <input type="submit" value="Send booking informations">
</form>