<form class="form" id="custom-form" method="post" autocomplete="off">
 <fieldset class="fieldset">
     <legend class="legend"><span><?php echo __('Delivery') ?></span></legend><br>
      <div class="field required">
          <label for="email_address" class="label"><span><?php echo __('pincode') ?></span></label>
          <div class="control">
              <input type="number" maxlength="6" placeholder="enter pincode e.g.:-123456" name="txtpincode" id="txtpincode"  class="input-text" data-validate="{required:true, 'validate-digits':true}">
<!--               <img id='wait' style='display: none' src='img/loader.gif' alt="loading"> -->
<img id='wait' src='<?php echo $this->getViewFileUrl('Vasu_PinCode::img/loader.gif'); ?>' alt="image-icon" width="30" height="25" style='display: none;'>
          </div>
          <div id="displayerr"></div>
          <div id="success"></div>
      </div>
 </fieldset>
 <div class="actions-toolbar">
      <div class="primary">
          <button type="button" class="action submit primary" data-mage-init='{"validatePincode": {}}' name="checkpin" id="checkpin">check</button>
      </div>
      
  </div>
</form>